@font-face {
    font-family:'titulos';
    src: url(./alte_haas_grotesk/AlteHaasGroteskBold.ttf);
}
@font-face {
    font-family:'main';
    src: url(./alte_haas_grotesk/AlteHaasGroteskRegular.ttf);
}