@font-face {
    font-family:'titulos';
    src: url(./alte_haas_grotesk/AlteHaasGroteskBold.ttf);
}
@font-face {
    font-family:'main';
    src: url(./alte_haas_grotesk/AlteHaasGroteskRegular.ttf);
}

*{
    margin: 0;
    padding: 0;
} 

header{
    width: 100%;
    background-color: #343a40;
    color: white;
    font-family: 'titulos';
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 5px;
}
header h1{
    font-size: 30px;
}

.form-control{
    background-color: black;
    color: white;
    font-family: 'titulos';
    border: 2px solid #363636;
}

.card-deck{
    margin-bottom: 20px;
}
.card{
    display: block;
    width: 800px;
    height: 400px;
    background-color: #343a40;
}

main{
    background-color: black;
}

h5{
    font-family: 'titulos';
    color: white;
}

p{
    font-family: 'main';
    color: #A9A9A9;

